body {
  padding:50px;
  font:16px/1.5 Palatino, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
}

html { 
  background: url(johnny_automatic_old_sun_color.svg) no-repeat right bottom fixed; 
}

h1, h2, h3, h4, h5, h6 {
  font:14px/1.5 Palatino, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#990000;/* #610B0B; */
  margin:0 0 20px;
}

h2, h3, h4, h5, h6 {
  font-style:italic;
}

p, ul, ol, table, pre, dl {
  margin:20px 0 20px 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
    font-size: 36px;
}

h2 {
  font-size:24px;
}

h3 {
  font-size:18px;
  font-style:normal;
}

a:link {
    color:#08298A;
    text-decoration:none;
}

a:visited {
    color:#084B8A;
    text-decoration:none;
}

a:hover {
   color:#610B0B;
   text-decoration:underline overline;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#990000;
  font-weight:bold;
}

th {
  color:#444;
}

img {
  /* width:640px; */
  float:left;
  margin: 10px 15px 10px 5px;
  /* border: .5px solid #D0D0D0;/\* #08298A; *\/ */
}

strong {
  color:#222;
  font-weight:700;
}


small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

/* .header { */
/*   width: 20%; */
/*   float: left; */
/*   position: fixed; */
/*   top: 150px; */
/*   text-align: center; */
/* } */

/* .outline-2 { */
/*   width:75%; */
/*   float:right; */
/*   padding-bottom:50px; */
/* } */

/* .outline-text-2 { */
/*     overflow: hidden; */
/*     margin: 10px; */
/* } */


/* https://github.com/orderedlist/minimal/blob/master/stylesheets/styles.css */
@media print, screen and (max-width: 960px) {
  
  h1, .header, .outline-2 {
    float:none;
    position:static;
    width:100%;
  }
  
  .header {
    padding-right:320px;
  }
  
  .header a small {
    display:inline;
  }  
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  .header {
    padding:0;
  }
  
  .header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  .header ul {
      list-style-type:none;
      padding:0px;
      /* position:static; */
      /* padding-left:5px; */
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
